body{
  /*background-image: url("../space2.jpg");
  background-size: 100%;*/
  background-color:rgb(0, 0, 0);
}

img {
  border-radius: 10%;
}

#main_text{
  position: absolute;
  margin: auto;
  width: 700px;
  height: 500px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#main-image{
  width: 600px;
}

#predict-text{
  position: absolute;
  margin: auto;
  width: 700px;
  height: 600px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#predict-image{
  width: 300px;
}

#predict-table{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#done-text{
  color: white;
  position: absolute;
  margin: auto;
  width: 700px;
  height: 100%;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#done-logo{
  align-content: center;
  width: 300px;
}

#done-images{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


.pred-button{
  width: 60%;
}

.new-pred-button{
  width: 60%;
}

.info-buttons{
  width: 140px;
}