body{
  background-color:rgb(0, 0, 0);
}

img {
  border-radius: 10%;
}

#main_text{
  position: absolute;
  margin: auto;
  width: 700px;
  height: 400px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#main_image{
  width: 600px;
}

#predict_text{
  position: absolute;
  margin: auto;
  width: 700px;
  height: 550px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#predict_image{
  width: 300px;
}

#predict_table{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}