<!doctype html>
<html>

<head>
    <title>Your Prediction!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>

<body>

    <div id="done-text">
        <img id="done-logo" src="../static/tb-logo.jpg" class="mt-5">
        <h4 class="mt-4">This is how it was done</h4>

        <p class="text-light mt-4" style="text-align: left;">
            <i>
                We will try to describe the steps as non-technical as possible.<br>
                For those who are interested in more details or want to see the code itself, the entire project is
                available
                on <a href="https://github.com/roxxuz/blue-ml-predict">GitHub</a>.
                <br>
                The description is divided into the different topics in which we divided the work.
            </i>
        </p>

        <h5 class="mt-5 ml-2" style="text-align:left;">The model</h5>
        <section style="text-align:left; padding:10px;" class="text-light border border-light">
            <p>
                A model represents what was learned by a machine learning algorithm.
                It is the "thing" that will be used to determine what an image represents,
                and thus also the very heart of the process.<br>
                Our model is created with the help of so-called
                <a href="https://en.wikipedia.org/wiki/Deep_learning">deep learning</a>,
                and more specifically a
                <a href="https://en.wikipedia.org/wiki/Convolutional_neural_network">convolutional neural network</a>.
            </p>
        </section>
        <h5 class="mt-5 ml-2" style="text-align:left;">The layers</h5>
        <section style="text-align:left; padding:10px;" class="text-light border border-light">
            <p>
                When we create a model for deep learning, we add a number of
                layers to an empty model shell, containing different calculations for each layer.
                There are also a variety of settings for each layer. This means there is a lot
                to test and customize to get the best model possible.<br>
                If a model does not perform as expected,
                it can often be (but certainly not always) the settings in these layers
                that needs to be adjusted. It may also be the case that you should
                use completely different layers, a different order of the layers
                or a different number of layers. A large number of layers in our
                model can therefore give us a lot of settings that we have to specify.
            </p>
            <p>
                These layers are added to the model, one after another, and together they form a neural network.<br>
                Here is a visualization of a very simple neural network, in other words a deep learning model.
                This model consists of 5 layers. One input layer, three hidden layers, and one output layer.
                Our model has significantly more layers than that, but it is easier to visualize it small.
                <img id="done-images" src="../static/tb_neural_network.png" class="mt-1 zoom-img">
                <i>
                    Note: In this visualization, all layers are fully connected, which means
                    that all nodes in one layer are connected to all nodes in the next layer.
                    That is not the case with the model we created for this site. For
                    info on which layers we used, we refer to our repository on
                    <a href="https://github.com/roxxuz/blue-ml-predict">GitHub</a>.
                </i>
            </p>

        </section>
        <h5 class="mt-5 ml-2" style="text-align:left;">The data</h5>
        <section style="text-align:left; padding:10px;" class="text-light border border-light">
            <p>
                Now that we have our model ready with a variety of layers,
                how are we going to use this to teach our model what an image represents?<br>
                With the help of 50,000 images!<br> And 50,000 answers to what these pictures represent.
                First we downsize the images to the same size.
                Then we convert the images into numbers so that the calculations in the layers can handle them,
                and then sending all 50,000 images to our model and through all layers, one by one.
                This is called "training the model".
            </p>
            <h5 style="text-align: center;">Small sample of the 50,000 images</h5>
            <img class="mt-3 mb-3 zoom-img" id="done-images" src="../static/images.png" class="mt-1">
        </section>
        <h5 class="mt-5 ml-2" style="text-align:left;">The training</h5>
        <section style="text-align:left; padding:10px;" class="text-light border border-light">
            <p>
                The training of the model is done by sending each image through all
                our layers to get a result from the last layer. The result is the answer to what the
                model thinks the image represents.<br>
                The model's answer is then checked against what the correct answer is.
                The settings in the layers are adjusted based on the model's
                performance and then the whole process is running over and over again.<br>
                To train a model by making decisions based on whether it is
                right or wrong like this is called
                <a href="https://en.wikipedia.org/wiki/Supervised_learning">supervised learning</a>.
            </p>
            <p>
                This process continues until the model is trained so well that it now with
                great probability can determine what the images represent.
                This is a very demanding process that can take a very long
                time depending on how many images you use, the size of the images,
                the settings in our layers and of course the power of the computer
                that performs the training. We used a powerful computer
                with an i9 CPU and 20 logical processors, and our model took a little over 8 hours to train.
            </p>
            <p>
                The last step in the training process is to validate our models accuracy score
                with some images that our model hos not yet seen.
                We use another 10,000 images for this.<br>
                The trained models accuracy score and the accuracy score from
                our 10,000 unseeen images should match. This means that the model's
                expected performance really works.<br>
                Our last model got an accuracy score of 86%.
                Wow! Great.
            </p>
            <p>
                The heavy work is now done and we can save the model. We now have a model that,
                with high probability, can determine what an image represents. However,
                it must be understood that the model can only predict images similar to
                the 50,000 images with which it was trained. Our model was trained with
                pictures of airplanes, cars, birds, cats, deers, dogs, frogs, horses,
                ships and trucks. If we were to give our model a picture of an elephant,
                it would have no idea what it is, because it was not trained with any pictures
                of elephants.
            <h5 style="text-align: center;">Screenshot from training our first model</h5>
            <img id="done-images" src="../static/training.png" class="mt-1 zoom-img">
            </p>

        </section>
        <h5 class="mt-5 ml-2" style="text-align:left;">The prediction</h5>
        <section style="text-align:left; padding:10px;" class="text-light border border-light">
            <p>
                To make our model available to others, we coded a website
                where you can use the model. This is the website you are on now.
            </p>
            <p>
                When a user either uploads an image or enters a URL to an image,
                that image is downloaded and saved in a folder on the server.
                On the server, the image is converted into numbers and also
                into the same shape as the 50,000 images that we used to train the model with.
            </p>
            <p>
                Bilden skalas sedan bla bla bla... (Beskrivning av Olas metod)
            </p>
            <p>
                We send each rescaled and mirrored image to the model and in less than a
                second it returns a result. Each variant of the selected image runs
                through the model one by one and returns a prediction. A calculation based on all
                the different predictions is made and what remains is a final prediction.<br>
                This is a very important process as an image that is rotated 180 degrees can
                give a completely different result.
            <h5 style="text-align: center;">Prediction of a cat</h5>
            <img id="done-images" src="../static/bad_prediction_upside-down.png" class="mt-1 zoom-img">
            <h5 style="text-align: center;" class="mt-5">Same image turned 180 degrees</h5>
            <img id="done-images" src="../static/rotated_180_degrees_wow.png" class="mt-1 zoom-img">
            </p>


        </section>
        <h5 class="mt-5 ml-2" style="text-align:left;">That's it</h5>
        <section style="text-align:left; padding:10px;" class="text-light border border-light">
            <p>
                Just like you, we also find deep learning very complicated and often difficult
                to describe or visualize. But this challenge is also what makes us love it.<br>
                Thank you for your interest in our model.
            </p>
            <p>
                <i>"-Never stop learning, because life never stops teaching"</i><br>
            </p>
            <img id="done-logo-end" src="../static/tb-logo.jpg" class="mt-4">
            <img id="done-images" src="../static/hard_work.jpg" class="mb-4 zoom-img">
        </section>

        <section class="mt-3">
            <a href="{{ url_for('main_page') }}">
                <button class="btn btn-outline-light btn-lg mt-4 mb-3 new-pred-button">
                    Back To Main Page
                </button>
            </a>
        </section>

    </div>
</body>

</html>