<!doctype html>

<html>

<head>
  <title>Team Blue Deep Learning Image Classification</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>

<body>


  <div id="main_text">
    <img id="main_image" src="/static/tb-logo.jpg">
    <h4 class="text-light mb-5 mt-4"> DEEP LEARNING IMAGE CLASSIFICATION </h4>
    <form method=post enctype=multipart/form-data>
      <p class="text-light">
        <input type=file name=file>
        <input type=submit value=Predict>
      </p>
    </form>
    <h6 class="text-light mt-5">Upload an image that represents one of the following: </h6>
    <h6 class="text-light mb-1">airplane, automobile, bird, cat, deer, dog, frog, horse, ship, truck</h6>
  </div>
</body>

</html>